/* HTML Properties */

body {
  font-family: 'Montserrat, sans-serif';
  text-align: center;
}

h1 {
  font-family: 'Montserrat-black';
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-family: 'Montserrat-Bold';
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: 'Montserrat-Bold';
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
}

/* Title */

#title {
  background-color: #625772;
  color: #fff;
}

.container-fluid {
  padding-bottom: 20px;
}

.title-image {
  width: 40%;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 6rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-light';

}

/* Buttons */

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}


 /* Features */

 #features {
   padding: 3rem 0;

 }

 .featured-item {
   width: 70%;
 }


/* slideshow */

#slideshow {
  background-color: #625772;
  padding: 7% 15%;
  text-align: center;
  color: #fff;
}

.carousel-item {
  height: 500px;
}

/* Social media */

#social-media{
  background-color: #625772;
  text-align: center;
  padding-bottom: 3%;
}

.social-link {
  font-size: 4rem;
  padding: 0 20px;
}


/* Checkout */

.custom-control-label {
  text-align:left;
}


/* Shop */

#shop{
  background-color: #625772;
  color: #fff;
  width: 15%;
}
