/* HTML Properties */

body {
  font-family: 'Montserrat, sans-serif';
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat-Bold';
}
 h1{
   text-align: center;
 }


/* Headings and Misc Texts */

.big-heading {
  font-family: 'Montserrat-black';
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.item-heading{
  font-size: 1.5rem;
}

.description-text{
  color: #8f8f8f;
}

.impression {
  background-color:
}




/* Sections */

.color-section{
  background-color: #625772;
  color: #fff;
}

.white-section{
  background-color: white;
}

.container-fluid {
  position: relative;
  min-height: 100vh;
}



/* Title */

#title {
  padding-bottom: 100px;
  text-align: left;
  background-image: url("https://cdn-icons-png.flaticon.com/512/5070/5070271.png");
  background-color: #cccccc;
}




/* Navigation Bar */

.navbar {
  padding: 0 0 6rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-light';
  text-decoration-color: #8f8f8f;
}




/* Buttons */

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}




 /* Features */

 #features {
   padding: 3rem 0;
   position: relative;
   z-index: 1;
 }




/* slideshow */

#slideshow {
  padding: 7% 15%;
}

.carousel-item {
  height: 1000px;
}

.slideshow-text {
  font-size: 3rem;
  line-height: 1.5;
}




/* Checkout */

.custom-control-label {
  text-align:left;
}




/* Shop */

#shop{
  background-color: #625772;
  color: #fff;
  width: 15%;
}

#items{
  padding: 100px;
}

.pricing-column{
  padding: 3% 2%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}




/* About & Contact */
#about-me {
  padding: 100px 0;
}

#contact-me {
  padding: 100px 300px;
}





/* Shopping Cart */
.Cart-Container{
 width: 70%;
 height: 85%;
 background-color: #ffffff;
 border-radius: 20px;
 box-shadow: 0px 25px 40px #1687d933;
}

.Header{
 margin: auto;
 width: 90%;
 height: 15%;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.cart-heading{
 font-size: 20px;
 font-family: ‘Open Sans’;
 font-weight: 700;
 color: #2F3841;
}
.Action{
 font-size: 14px;
 font-family: ‘Open Sans’;
 font-weight: 600;
 color: #E44C4C;
 cursor: pointer;
 border-bottom: 1px solid #E44C4C;
}

.Cart-Items{
 margin: auto;
 width: 90%;
 height: 30%;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.image-box{
 width: 15%;
 text-align: center;
}
.about{
 height: 100%;
}
.cart-title{
 padding-top: 5px;
 line-height: 10px;
 font-size: 32px;
 font-family: ‘Open Sans’;
 font-weight: 800;
 color: #202020;
}
.subtitle{
 line-height: 10px;
 font-size: 18px;
 font-family: ‘Open Sans’;
 font-weight: 600;
 color: #909090;
}


/* Footer */

#footer {
  position: fixed;
  padding: 50px 50px;
  text-align: center;
}

.social-link {
  font-size: 1rem;
  padding: 0 20px;
}




/* Images */

.title-image {
  width: 40%;
  transform: rotate(25deg);
  position: absolute;
  bottom: 5%;
}

 .image {
   width: 40%
 }

#slideshow-pics {
  width: 40%
}

.featured-item {
  height: 300px;
  width: 300px;
  margin: 10% 10%;
}





/* Media Query */

@media (max-width: 1050px) {
  .title-image {
    position: static;
    transform: rotate(0);
    padding-top: 10px;
  }
  #title {
    text-align: center;
  }
  .featured-item {
    height: 100px;
  width: 100px;
  }
}




/* Placements??? */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
